# Environment Variables

# GitHub Username
VITE_GITHUB_USERNAME=d3vchrix

# Google Drive CV Link
VITE_CV_LINK=https://drive.google.com/file/d/1DH8rWqzmdFXKTKsEfwNA82BCErCU3z0x/view?usp=sharing

# Social Links (Optional)
VITE_LINKEDIN_URL=https://linkedin.com/in/yourusername
VITE_TWITTER_URL=https://twitter.com/yourusername
