# Environment Variables

VITE_GITHUB_USERNAME=d3vchrix
VITE_CV_LINK=https://drive.google.com/file/d/1DH8rWqzmdFXKTKsEfwNA82BCErCU3z0x/view?usp=sharing
VITE_LINKEDIN_URL=https://linkedin.com/in/yourusername

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
